BinaryConverterAppClient/Connected Services/BinaryConverterServiceReference/localhost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/Imports">
      <xsd:import namespace="http://localhost" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Lab4ServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBinaryConverter_GetBinary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBinary" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverter_GetBinary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBinaryResponse" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverter_GetOneCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCount" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverter_GetOneCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOneCountResponse" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverter_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IBinaryConverter_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IBinaryConverter">
    <wsdl:operation name="GetBinary">
      <wsdl:input wsaw:Action="http://localhost/IBinaryConverter/GetBinary" message="tns:IBinaryConverter_GetBinary_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IBinaryConverter/GetBinaryResponse" message="tns:IBinaryConverter_GetBinary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOneCount">
      <wsdl:input wsaw:Action="http://localhost/IBinaryConverter/GetOneCount" message="tns:IBinaryConverter_GetOneCount_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IBinaryConverter/GetOneCountResponse" message="tns:IBinaryConverter_GetOneCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://localhost/IBinaryConverter/GetDataUsingDataContract" message="tns:IBinaryConverter_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost/IBinaryConverter/GetDataUsingDataContractResponse" message="tns:IBinaryConverter_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>